<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>HaloServlet</servlet-name>
        <servlet-class>com.maryanto.dimas.example.SimpleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HaloServlet</servlet-name>
        <url-pattern>/halo</url-pattern>
    </servlet-mapping>
</web-app>